.narrow{
    margin: 0 auto;
    max-width: 800px;
}


.caption{
    font-size: 10 px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: grey;
    text-align: center;
}

.headline{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.subhead{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

.byline{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 20px;
}

.chaptertitle{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: start;
}

.chapter{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: start;
}

.blockquote{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    color: hotpink;
    font-weight: bold;
}

.navbar{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.text-center{
            font-family: 'Georgia', 'Times New Roman', Times, serif;
}