.container{
    align-items: center;
}

.topper{
    font-family: Georgia, Helvetica;
}

.sectionheader{
    font-family: Georgia, Helvetica;
    background-color: black;
    color: white;
    margin: 20px 0 10px 0; /*margin around section headers*/
    width: 100%; /*width of sectionheader*/
    min-width: 300px; /*minimum width of sectionheader*/
}

.jobtitle{
    font-family: Georgia, Helvetica;
}

.organization{
    font-family: Georgia, Helvetica;
}

.description{
    font-family: Georgia, Helvetica;
}

.date{
    font-family: Georgia, Helvetica;
}

.sectionhead{
    background-color: white;
    color: black;
    font-family: Georgia, Helvetica;
}