/*styles for my resume*/

/*declaring font family, size and color for my resume*/
body, h1, h2, h3, h4, h5, p, li, ul li { /*list of elements to style*/
    font-family: "Open Sans", Arial, sans-serif; /*font families*/
    font-size: 1em; /*font size*/
    color: #444; /*gray color*/
}

/*styles for my name on resume*/
#name { /*was h1*/
    font-size: 3em; /*font size for my name*/
    color: #33485e; /* font color is blue*/
    text-transform: uppercase; /*makes name all uppercase*/
    text-align: center; /*centers my name*/
    border-bottom: 1px solid #33485e; /*border below my name*/
    border-width: 60%, 300px; /*width of border*/
    margin-bottom: 0 auto; /*centers border*/
}

/*styles for my title on resume*/
strong {
    text-transform: uppercase; /*makes title uppercase*/
    font-size: 1.5em; /*font size for title*/
    color: #33485e; /* font color is blue*/
}

/*styles for my section headers on resume*/
#sectionheader { /*was h2*/
    font-size: 1.5em; /*font size for section headers*/
    text-transform: uppercase; /*section headers are uppercase*/
    background-color: #33485e; /*background color is blue*/
    color: white; /* font color is white */
    font-weight: 400; /*font weight*/
    margin: 20px 0 10px 0; /*margin around section headers*/
    width: 70%; /*width of sectionheader*/
    min-width: 300px; /*minimum width of sectionheader*/
}

/*styles for my job titles on resume*/
#jobtitle { /*was h3*/
    font-weight: 600; /*font weight*/
    font-size: 1.5em; /*font size for job titles*/
}

/*styles for organizations on resume*/
#organization { /*was h4*/
    font-weight: 400; /*font weight*/
    font-size: 1.25em; /*font size for organizations, changed from 1.5em*/
}

/*styles for dates on resume*/
#date { /*was h5*/
    font-weight: 400; /*font weight*/
    font-style: italic; /*italics for dates*/
    font-size: 1em; /*font size for dates*/
    margin: 2px 0px 0px 0px; /*margin around dates*/
}

/*styles for info, skills and education on resume*/
li{
    font-size: 1em; /*font size for info, skills and education*/
}

#description { /*was p*/
    margin: 10px 0px 10px 0px; /*margin for p*/
}

#menu {
    margin: 0px; /*margin for contact info*/
    padding: 0px; /*padding for contact info*/
    text-align: center; /*aligns contact info horizontally*/
    display: inline; /*displays contact info inline*/
    list-style-type: none; /*removes bullet points from contact info*/
    font-size: 1em; /*font size for info, skills and education*/
}

#degrees {
    margin: 5px 0px 0px 0px; /*margin for degrees*/
    font-size: 1em; /*font size for info, skills and education*/
}

#do {
    margin: 5px 0px 0px 0px; /*margin for skills*/
    font-size: 1em; /*font size for info, skills and education*/
}

#title {
    font-weight: 600; /*font weight and centers title*/
    text-align: center; /*centers title*/
    margin: 20px 0px 0px 0px; /*margin around title*/
}

#top {
    width: 60%; /*width of top section*/
    min-width: 300px; /*minimum width of top section*/
    margin: 0 auto; /*centers top section*/
    margin-bottom: 30px; /*margin below top section*/
}

#container {
    width: 100%; /*width of container*/
    max-width: 1200px; /*maximum width of container*/
    margin: 0 auto; /*centers container*/
    padding: 50px; /*padding around container*/
}