.caption{
    font-size: 10 px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    text-align: center;
}

.card-footer{
    background-color: black;
    color: white;
}

.headline{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.byline{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

.chaptertitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: start;
    text-transform: uppercase;
}

.chapter{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}
