#content {
    margin: 0 auto;
    width: 900px;
    font-family:'Times New Roman', Times, serif, sans-serif; /*font family*/
    font-size: 12px;
    line-height: 1.5;
}

.headline{
    margin: 0 auto;
    width: 900px;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subhead{
    margin: 0 auto;
    width: 900px;
    font-size: 20px;
    margin-bottom: 20px;
}

.byline{
    margin: 0 auto;
    width: 900px;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.caption{
    font-size: 10px;
    color: gray;
    margin-bottom: 20px;
}

.credit{
    font-size: 10px;
    font-style: italic;
    color: gray;
    margin-bottom: 20px;
}